#sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 540px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #1b98e0;
  overflow-x: hidden; /* Disable horizontal scroll */

  color: #fafcfc;
  font-family: "arial";
}

#citation {
  padding-left: 20px;
  padding-top: 10px;
}

.barli {
  background-color: #00000000;
  transition: 500ms ease;
  padding-left: 40px;
  padding-right: 40px;
}

.barli:hover {
  background-color: #f6ae2d;
}

.highlight {
  transition: 500ms ease;
  background-color: #f6ae2d;
}
