/* pallete: 
red: #EE6352
green: #59CD90 
blue: #3FA7D6
yellow: #FAC05E
light red: #F79D84*/

body {
  font-family: "arial";
  margin: 0px;
}

.background {
  background-image: url(https://i.pinimg.com/originals/76/d6/65/76d66570cfda1bef71b8c0e04beb63d1.jpg);
  background-attachment: fixed;
  height: 2000px;
}

#menu {
  background-color: #59cd90;
  z-index: 1;
  padding: 14px 16px;
  width: 100%;
  position: fixed;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

#menu a {
  text-decoration: none;
  text-align: center;
  padding: 15px 16px;
  font-size: 17px;
  color: white;
  transition: 500ms ease;
}

#menu a:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(0px) scale(1.02);
  background-color: #f79d84;
  color: #494947;
}

#menu a.active {
  background-color: #3fa7d6;
  color: #494947;
}

#welcome {
  padding-top: 20px;
  margin-left: 400px;
  font-size: 50px;
  color: white;
}
.panel-left h1,
.panel-right h1 {
  color: black;
  margin-left: 100px;
}

.panel-left p,
.panel-right p {
  margin-left: 75px;
}

.project-item,
.accordion {
  margin: auto;
  width: 50%;
  background-color: #fac05e;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: 500ms ease;
  font-size: 17px;
}

.project-item:hover,
.accordion:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(0px) scale(1.02);
  background-color: #3fa7d6;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.accordion {
  box-sizing: content-box;
  border: 0px;
  display: block;
  background-color: #59cd90;
}

.panel-left {
  width: 75%;
  height: 750px;
  padding: 10px;
  background-color: #ee6352;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

.panel-right {
  position: absolute;
  right: 0px;
  margin-top: 100px;
  width: 75%;
  height: 750px;
  padding: 10px;
  background-color: #ee6352;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}
