#sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 500px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #1B98E0;
    overflow-x: hidden; /* Disable horizontal scroll */

    color: #FAFCFC;
    font-family: "arial"
  }

.barli {
    background-color: #00000000;
    transition: 500ms ease;
    padding-left: 20px;
}

.barli:hover {
    background-color: #F6AE2D;
}

.highlight {
    transition: 500ms ease;
    background-color: #F6AE2D;
}
